.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}



/* NAV BAR */

.navBar {
  display: flex;
  justify-content: center;
  background-color: #b4fff4;
  margin-bottom: 50px;
}

.navBar ul {
  list-style-type: none;
  color: black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}


.navBar ul a {
  color: black;
  font-size: 20px;
  margin-right: 65px;
  line-height: 50px;
  vertical-align: middle;
}

/* ABOUT PAGE */

.about {
  text-align: center;
  margin-top: 20px;
}

#aboutHeader {
  margin-bottom: 10px;
  font-style: bold;
}

#aboutSubHeader {
  font-style: italic;
}

#aboutForm {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

#contactComment {
  height: 70px;
  width: 250px;
  margin-right: 20px;
  border: 1px solid black;
  border-radius: 4%;
}

#contactEmail {
    height: 70px;
    width: 250px;
    margin-right: 20px;
    border: 1px solid black;
    border-radius: 4%;
}

#contactSubmit {
  height: 40px;
  width: 100px;
  margin-top: 15px;
  border-radius: 4%;
  background-color: lightgrey;
}
